<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liyane ARTs</title>
</head>
<body>
    <h1>welcome to Liyane ARTs</h1>
    <br>
    <br>
    <%- body %>
    <br>
    <br>
    <h2>thanks for visiting</h2>
</body>
</html>