<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/homePage.css">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <title>Liyane ARTs</title>
    <!-- <style>
        body{
            background-color: aqua;
        }
    </style> -->
</head>
<body>
       <!-- ********************************************* Menu ********************************************* -->
<div class="container1">
    <div class="menuLeft">
        <div class="logo"></div>


        <div class="menu">
            <div id="menubox">
                <div id="AboutUs">
                    <h1>About Us</h1>
                </div>
                <div id="Categories">
                    <h1>Categories</h1>
                </div>
                <div id="Gallery">
                    
                    <h1>Gallery</h1>
                </div>
                <div id="ContactUs">
                    <h1>Contact Us</h1>
                </div>
            </div>
        </div>

    </div>
    <div class="menuRight"> </div>
</div>



    <!-- ********************************************* About Us ********************************************* -->
<div class="container2">
    <div id="AbtTitle">
        <h1>About Us</h1>
    </div>

    <div id="AbtIcon"></div>
    <div id="ABtCont">
        <p1>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Modi sint cum saepe doloremque? Ad nesciunt eaque aut a sequi 
            laboriosam dolores, eveniet ab cupiditate vel, beatae assumenda voluptas! Eligendi, exercitationem.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Modi sint cum saepe doloremque? Ad nesciunt eaque aut a sequi 
            laboriosam dolores, eveniet ab cupiditate vel, beatae assumenda voluptas! Eligendi, exercitationem.
        <p1>
    </div>

</div>




    <!-- ********************************************* Catogaries ********************************************* -->
<div class="container3">
    <div id="CatTitle">
        <h1>Catogaries</h1>
    </div>

    <div id="cat1Cont">
       
        <p1>
            <h1><b> Lorem ipsum</b></h1>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Modi sint cum saepe doloremque? Ad nesciunt eaque aut a sequi 
            laboriosam dolores, eveniet ab cupiditate vel, beatae assumenda voluptas! Eligendi, exercitationem.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Modi sint cum saepe doloremque? Ad nesciunt eaque aut a sequi 
            laboriosam dolores, eveniet ab cupiditate vel, beatae assumenda voluptas! Eligendi, exercitationem.
        <p1>
    </div>
    <div id="cat1Icon"></div>

    <div id="cat2Icon"></div>
    <div id="cat2Cont">
        
        <p1>
            <h1><b> Lorem ipsum</b></h1>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Modi sint cum saepe doloremque? Ad nesciunt eaque aut a sequi 
            laboriosam dolores, eveniet ab cupiditate vel, beatae assumenda voluptas! Eligendi, exercitationem.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Modi sint cum saepe doloremque? Ad nesciunt eaque aut a sequi 
            laboriosam dolores, eveniet ab cupiditate vel, beatae assumenda voluptas! Eligendi, exercitationem.
        <p1>
    </div>






</div>
    <div id="batta">
        <%- body %>
    </div>

    <!-- ********************************************* Footer ********************************************* -->
    <div class="container5">
        <div id="footLeft"></div>
        <div id="footRight"></div>
    
    
    
    
    
    
    
    
    </div>
    
</body>
</html>

