<nav>
    <a href="/arts/new">add new art</a>
</nav>

<nav>
    <a href="/arts">view arts</a>
</nav>

<nav>
    <a href="/admin">account</a>
</nav>

<nav>
    <a href="/admin/logout">log out</a>
</nav>