<div class="container2">
    <div id="AbtTitle">
        <h1>About Us</h1>
    </div>

    <div id="AbtIcon">

    </div>
    <div id="ABtCont">
        <p1>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Modi sint cum saepe doloremque? Ad nesciunt eaque aut a sequi 
            laboriosam dolores, eveniet ab cupiditate vel, beatae assumenda voluptas! Eligendi, exercitationem.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Modi sint cum saepe doloremque? Ad nesciunt eaque aut a sequi 
            laboriosam dolores, eveniet ab cupiditate vel, beatae assumenda voluptas! Eligendi, exercitationem.
        <p1>
    </div>

</div>

    <div id="covermid">

    </div>   


    <!-- ********************************************* Catogaries ********************************************* -->
<div class="container3">
    <div id="CatTitle">
        <h1>Catogaries</h1>
    </div>

    <div id="cat1Cont">
       
        <p1>
            <h2>Lorem ipsum</h3>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Modi sint cum saepe doloremque? Ad nesciunt eaque aut a sequi 
            laboriosam dolores, eveniet ab cupiditate vel, beatae assumenda voluptas! Eligendi, exercitationem.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Modi sint cum saepe doloremque? Ad nesciunt eaque aut a sequi 
            laboriosam dolores, eveniet ab cupiditate vel, beatae assumenda voluptas! Eligendi, exercitationem.
        <p1>
    </div>
    <div id="cat1Icon"></div>

    <div id="cat2Icon"></div>
    <div id="cat2Cont">
        
        <p1>
            <h2> Lorem ipsum</h2>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Modi sint cum saepe doloremque? Ad nesciunt eaque aut a sequi 
            laboriosam dolores, eveniet ab cupiditate vel, beatae assumenda voluptas! Eligendi, exercitationem.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Modi sint cum saepe doloremque? Ad nesciunt eaque aut a sequi 
            laboriosam dolores, eveniet ab cupiditate vel, beatae assumenda voluptas! Eligendi, exercitationem.
        <p1>
    </div>
</div>

    <!-- ********************************************* Gallery ********************************************* -->

    <div class="container4">
        <div id="GalleryCont">
           
                <h1>Gallery</h1>
                <a href="\gallery">show more </a>
        </div>
        
    </div>
