<!-- headder for index page -->
<%- include('indexHeadder') %> 

<div class="container2">
    <div id="AbtTitle">
        <h1>About Us</h1>
    </div>

    <div id="AbtIcon">

    </div>
    <div id="ABtCont">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Modi sint cum saepe doloremque? Ad nesciunt eaque aut a sequi 
            laboriosam dolores, eveniet ab cupiditate vel, beatae assumenda voluptas! Eligendi, exercitationem.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Modi sint cum saepe doloremque? Ad nesciunt eaque aut a sequi 
            laboriosam dolores, eveniet ab cupiditate vel, beatae assumenda voluptas! Eligendi, exercitationem.
        <p>
    </div>

</div>

    <div id="covermid">

    </div>   


    <!-- ********************************************* Catogaries ********************************************* -->
<div class="container3">
    <div id="CatTitle">
        <h1>Catogaries</h1>
    </div>

    <div id="cat1Cont">
       
        
            <h2>Lorem ipsum</h3>
                <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Modi sint cum saepe doloremque? Ad nesciunt eaque aut a sequi 
            laboriosam dolores, eveniet ab cupiditate vel, beatae assumenda voluptas! Eligendi, exercitationem.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Modi sint cum saepe doloremque? Ad nesciunt eaque aut a sequi 
            laboriosam dolores, eveniet ab cupiditate vel, beatae assumenda voluptas! Eligendi, exercitationem.
        <p>
    </div>
    <div id="cat1Icon"></div>

    <div id="cat2Icon"></div>
    <div id="cat2Cont">
        
        
            <h2> Lorem ipsum</h2>
            <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Modi sint cum saepe doloremque? Ad nesciunt eaque aut a sequi 
            laboriosam dolores, eveniet ab cupiditate vel, beatae assumenda voluptas! Eligendi, exercitationem.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Modi sint cum saepe doloremque? Ad nesciunt eaque aut a sequi 
            laboriosam dolores, eveniet ab cupiditate vel, beatae assumenda voluptas! Eligendi, exercitationem.
        <p>
    </div>
</div>

    <!-- ********************************************* Gallery ********************************************* -->

    <div class="container4">
        <div id="GalleryCont">
            <div id="galTitle">
                <h1>Gallery</h1>
            </div>
            <div id="galCat1">
                <div id="pic1"></div>
                <div id="pic2"></div>
                <div id="pic3"></div>
                
            </div>
            <div id="galCat2">
                <div id="pic4"></div>
                <div id="pic5"></div>
                <div id="pic6"></div>
            </div>
            <div id="showMore">
                <div id="showMoreBtn">
                <a href="\gallery">show more </a>
                </div>              
            </div>

            <div id="resGal">
                <div ><img id="pic1R" src="../public/images/galPic.jpg"/></div>
                <div ><img id="pic2R" src="../public/images/galPic.jpg"/></div>
                <div ><img id="pic3R" src="../public/images/galPic.jpg"/></div>
                <div><img  id="pic4R" src="../public/images/galPic.jpg"/></div>
                <div ><img id="pic5R" src="../public/images/galPic.jpg"/></div>
                <div ><img id="pic6R" src="../public/images/galPic.jpg"/></div>
            </div>
               
        </div>
        
    </div>

    <!-- footer for index page -->
    <%- include('indexFooter') %> 
