<!-- headder for index page -->
<%- include('indexHeadder') %> 

<div class="container2">
    <div id="AbtTitle">
        <h1>About Us</h1>
    </div>

    <div id="AbtIcon">

    </div>
    <div id="ABtCont">
        <p>
            Liyane arts will be a great place for personalised gifts for any occasion.
            Make unique gifts for someone special for you.
            Creations are accepted according to customer needs.
            Hurry up and order your items from Liyane Arts
        <p>
    </div>

</div>

    <div id="covermid">

    </div>   


    <!-- ********************************************* Catogaries ********************************************* -->
<div class="container3">
    <div id="CatTitle">
        <h1>Catogaries</h1>
    </div>

    <div id="cat1Cont">
       
        
            <h2>String arts</h3>
                <p>
                    String art is a craft making by weaving a yarn between pegs to form geometric patterns. 
        <p>
    </div>
    <div id="cat1Icon"></div>

    <div id="cat2Icon"></div>
    <div id="cat2Cont">
        
        
            <h2> Wood burning Art</h2>
            <p>
                Wood burning is a technique used to leave decorating patterns on wood using a heated metal pen.
        <p>
    </div>
</div>

    <!-- ********************************************* Gallery ********************************************* -->

    <div class="container4">
        <div id="GalleryCont">
            <div id="galTitle">
                <h1>Gallery</h1>
            </div>
            <div id="galCat1">
                <div id="pic1"></div>
                <div id="pic2"></div>
                <div id="pic3"></div>
                
            </div>
            <div id="galCat2">
                <div id="pic4"></div>
                <div id="pic5"></div>
                <div id="pic6"></div>
            </div>
            <div id="showMore">
                <div id="showMoreBtn">
                <a href="\gallery">show more </a>
                </div>              
            </div>

            <div id="resGal">
                <div ><img id="pic1R" src="../public/images/galPic.jpg"/></div>
                <div ><img id="pic2R" src="../public/images/galPic.jpg"/></div>
                <div ><img id="pic3R" src="../public/images/galPic.jpg"/></div>
                <div><img  id="pic4R" src="../public/images/galPic.jpg"/></div>
                <div ><img id="pic5R" src="../public/images/galPic.jpg"/></div>
                <div ><img id="pic6R" src="../public/images/galPic.jpg"/></div>
            </div>
               
        </div>
        
    </div>
<!-- footer for index page -->
<%- include('indexFooter') %> 