<!-- headder for index page -->
<%- include('indexHeadder') %> 

<div class="container2">
    <div id="AbtTitle" data-aos="fade-up" data-aos-duration="1200">
        <h1>About Us</h1>
    </div>

    <div id="AbtIcon" data-aos="fade-right" data-aos-duration="1200">

    </div>
    <div id="ABtCont" data-aos="fade-left" data-aos-duration="1200">
        <p>
            Liyane arts will be a great place for personalised gifts for any occasion.
            Make unique gifts for someone special for you.
            Creations are accepted according to customer needs.
            Hurry up and order your items from Liyane Arts
        <p>
    </div>

</div>

    <div id="covermid">

    </div>   


    <!-- ********************************************* Catogaries ********************************************* -->
<div class="container3" id="container3">
    <div id="CatTitle" data-aos="fade-up" data-aos-duration="1200">
        <h1>Catogaries</h1>
    </div>

    <div id="cat1Cont" data-aos="fade-right" data-aos-duration="1200">
       
        
            <h2>String arts</h3>
                <p>
                    String art is not a new fad; its origins go back to the 19th century. It is the brainchild of Mary Everest Boole who was in search of a way to introduce children to mathematical ideals. String art came back in the late 1960s as a decorative craft in the form of books and kits. Today, string art is utilized by art lovers young and old as a pastime, DIY project, and much more. String art is a craft making by weaving a yarn between pegs to form geometric patterns. 
        <p>
    </div>
    <div id="cat1Icon" data-aos="fade-left" data-aos-duration="1200"></div>

    <div id="cat2Icon" data-aos="fade-right" data-aos-duration="1200"></div>
    <div id="cat2Cont" data-aos="fade-left" data-aos-duration="1200">
        
        
            <h2> Wood burning Art</h2>
            <p>
                The technical term for wood burning is pyrography and is derived from the Greek words pyro = fire and graphos = writing. Wood burning is a traditional art form in which materials such as wood, leather, or cork are burned on their surface by a heated metal tip. This results in dark colors of the material from the burn marks. In their entirety, these burn marks result in the desired decoration.
        <p>
    </div>
</div>

    <!-- ********************************************* Gallery ********************************************* -->

    <div class="container4">
        <div id="GalleryCont">
            <div id="galTitle" data-aos="fade-up" data-aos-duration="1200">
                <h1>Gallery</h1>
            </div>
            <div id="galCat1" data-aos="fade-up" data-aos-duration="1200">
                <div id="pic1" data-aos="fade-right" data-aos-duration="2600"></div>
                <div id="pic2" data-aos="fade-up" data-aos-duration="2600"></div>
                <div id="pic3" data-aos="fade-left" data-aos-duration="2600"></div>
                
            </div>
            <div id="galCat2" data-aos="fade-up" data-aos-duration="1200">
                <div id="pic4" data-aos="fade-right" data-aos-duration="2600"></div>
                <div id="pic5" data-aos="fade-up" data-aos-duration="2600"></div>
                <div id="pic6" data-aos="fade-left" data-aos-duration="2600"></div>
            </div>
            <div id="showMore" data-aos="fade-up" data-aos-duration="1200">
                <div id="showMoreBtn">
                <a href="\gallery">show more </a>
                </div>              
            </div>

            <div id="resGal">
                <div data-aos="flip-left"><img id="pic1R" src="../public/images/galPic.jpg"/></div>
                <div data-aos="flip-left"><img id="pic2R" src="../public/images/galPic2.jpg"/></div>
                <div data-aos="flip-left" ><img id="pic3R" src="../public/images/galPic3.jpg"/></div>
                <div data-aos="flip-left"><img  id="pic4R" src="../public/images/galPic4.jpg"/></div>
                <div data-aos="flip-left"><img id="pic5R" src="../public/images/galPic5.jpg"/></div>
                <div data-aos="flip-left"><img id="pic6R" src="../public/images/galPic6.jpg"/></div>
            </div>
               
        </div>
        
    </div>
<!-- footer for index page -->
<%- include('indexFooter') %> 