* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  scroll-behavior: smooth;
}

body {
  display: grid;
  overflow-x: hidden;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 2fr 2fr 0.55fr;
  grid-template-areas:
    "container1"
    "container2"
    "covermid"
    "container3"
    "container4"
    "container5";
}

/* **************************************************** Menu **************************************************** */

.container1 {
  /* background-color: aqua; */
  grid-area: container1;
  width: auto;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-areas: "menuLeft menuRight";
  background-image: url(../public/images/bigCover.jpg);
  background-color: #1f2833;
  background-size: 1080px auto;
  background-repeat: no-repeat;
  background-position: right;
}

.menuLeft {
  /* background-color: rgb(6, 51, 51); */
  margin: 3px;
  display: grid;
  grid-area: menuLeft;
  grid-template-rows: 2fr 5.5fr;
  grid-template-areas:
    "logo"
    "menuG";
  align-items: center;
  justify-content: center;
}

.logo {
  /* background-color: dimgray; */
  margin: 3px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-area: logo;
}

#logoIcon {
  width: 210px;
  height: auto;
}

#burger {
  display: none;
}

#burger div {
  width: 22px;
  height: 4px;
  background-color: #66fcf1;
  margin: 3px;
}

.menu {
  /* background-color: ivory; */
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: menuG;
}

#menubox {
  width: 300px;
  font-size: 12px;
  display: grid;
  row-gap: 15px;
  justify-items: center;
  /* background-color: rgb(138, 127, 121); */
  color: #45a29e;
}

#AboutUs {
  /* background-color: yellow; */
  padding: 8px 25px;
  transition: 0.3s;
}

#AboutUs:hover {
  color: #66fcf1;
  border: #66fcf1;
  border-style: solid;
  transition: 0.3s;
  transform: scale(1.1);
  text-shadow: 0 0 3px #66fcf263;
  box-shadow: 1px 3px 3px #66fcf270;
  text-decoration: none;
}

#HomePage {
  padding: 8px 25px;
  transition: 0.3s;
}

#HomePage:hover {
  color: #66fcf1;
  border: #66fcf1;
  border-style: solid;
  transition: 0.3s;
  transform: scale(1.1);
  text-shadow: 0 0 3px #66fcf263;
  box-shadow: 1px 3px 3px #66fcf270;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #45a29e;
}

#Categories {
  /* background-color: rgb(202, 24, 202); */
  padding: 8px 25px;
  transition: 0.3s;
}

#Categories:hover {
  color: #66fcf1;
  border: #66fcf1;
  border-style: solid;
  transition: 0.3s;
  transform: scale(1.1);
  text-shadow: 0 0 3px #66fcf263;
  box-shadow: 1px 3px 3px #66fcf270;
}

#Gallery {
  /* background-color: rgb(8, 4, 32); */
  padding: 8px 25px;
  transition: 0.3s;
}

#Gallery:hover {
  color: #66fcf1;
  border: #66fcf1;
  border-style: solid;
  transition: 0.3s;
  transform: scale(1.1);
  text-shadow: 0 0 3px #66fcf263;
  box-shadow: 1px 3px 3px #66fcf270;
}

#ContactUs {
  /* background-color: springgreen; */
  padding: 8px 25px;
  transition: 0.3s;
}

#ContactUs:hover {
  color: #66fcf1;
  border: #66fcf1;
  border-style: solid;
  transition: 0.3s;
  transform: scale(1.1);
  text-shadow: 0 0 3px #66fcf263;
  box-shadow: 1px 3px 3px #66fcf270;
}

.menuRight {
  /* background-color: darkgoldenrod; */
  justify-content: end;
  margin: 3px;
  grid-area: menuRight;
}

/* ****************************************** home button ********************************** */
#HomeBtn {
  padding: 10px;
  position: fixed;
  right: 50px;
  bottom: 75px;
  background-color: purple;
  border-radius: 50%;
  z-index: 2;
  background-color: black;
  opacity: 0.4;
  transition: 0.4s;
}

#HomeBtn:hover {
  background-color: #45a29e;
  box-shadow: -2px 2px 3px #9e9e9ea6;
  padding: 15px;
  opacity: 1;
  transition: 0.4s;
  right: 45px;
}

#homeIcon {
  height: 50px;
  width: auto;
}

/* **************************************************** About Us **************************************************** */
.container2 {
  /* background-color: rgb(0, 255, 85); */
  grid-area: container2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "AbtTitle AbtTitle"
    "AbtIcon ABtCont";
  align-content: center;
}

#AbtTitle {
  grid-area: AbtTitle;
  /* background-color: rgb(224, 39, 39); */
  /* margin: 3px; */
  display: grid;
  justify-content: center;
  align-items: flex-end;
}

#AbtIcon {
  grid-area: AbtIcon;
  /* background-color: teal; */
  margin: 3px;
  background-image: url(../public/images/logoGB.png);
  background-size: 500px auto;
  background-repeat: no-repeat;
  display: grid;
  /* align-items: center;
  justify-items: center; */
  background-position: center;
}

#ABtCont {
  grid-area: ABtCont;
  /* background-color: tomato; */
  margin: 3px;
  text-align: center;
  display: grid;
  align-items: center;
  padding: 20px;
  font-size: 23px;
}

#covermid {
  grid-area: covermid;
  /* background-color: rgb(40, 82, 119); */
  background-image: url(../public/images/pyrography.jpg);
  background-size: cover;
  background-attachment: fixed;
}

/* **************************************************** Catogsries **************************************************** */
.container3 {
  /* background-color: rgb(255, 0, 140); */
  grid-area: container3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr 4fr;
  grid-template-areas:
    "CatTitle CatTitle"
    "cat1Cont cat1Icon"
    "cat2Icon cat2Cont";
}

#CatTitle {
  grid-area: CatTitle;
  /* background-color: rgb(38, 0, 255); */
  margin: 3px;
  display: grid;
  justify-content: center;
  align-items: center;
}

#cat1Cont {
  grid-area: cat1Cont;
  /* background-color: rgb(255, 7, 234); */
  text-align: center;
  display: grid;
  align-items: center;
  padding: 20px;
  font-size: 23px;
}

#cat1Icon {
  grid-area: cat1Icon;
  /* background-color: rgb(228, 99, 48); */
  background-image: url(../public/images/yarnArtIcon.png);
  background-size: 400px auto;
  background-repeat: no-repeat;
  background-position: center;
}

#cat2Icon {
  grid-area: cat2Icon;
  /* background-color: rgb(30, 241, 241); */

  background-image: url(../public/images/burnArtIcon.png);
  background-size: 300px auto;
  background-repeat: no-repeat;
  background-position: center;
}

#cat2Cont {
  grid-area: cat2Cont;
  /* background-color: rgb(128, 0, 111); */

  text-align: center;
  display: grid;
  align-items: center;
  padding: 0px 20px 0px 20px;
  font-size: 23px;
}

/* **************************************************** Gallery **************************************************** */
.container4 {
  /* background-color: #771c1c; */
  height: auto;
  grid-area: container4;
  display: grid;
}

#GalleryCont {
  display: grid;
  justify-content: center;
  padding: 20px;
  grid-template-rows: 0.2fr 1fr 1fr 0.2fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "galTitle"
    "galCat1"
    "galCat2"
    "showMore";
}

#galTitle {
  /* background-color: rgb(155, 101, 101); */
  grid-area: galTitle;
  display: grid;
  align-items: center;
  justify-content: center;
}

#galCat1 {
  /* background-color: rgb(90, 90, 172); */
  grid-area: galCat1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "pic1 pic2 pic3";
}

#pic1 {
  grid-area: pic1;
  background-color: rgb(243, 241, 241);
  box-shadow: -2px 2px 3px #9e9e9ea6;
  margin: 35px;
  background-image: url(../public/images/galPic.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
}

#pic1:hover {
  background-color: rgb(216, 215, 215);
  transition: 0.3s;
  transform: scale(1.05);
  box-shadow: 1px 3px 3px #1f2833;
}

#pic2 {
  grid-area: pic2;
  background-color: rgb(243, 241, 241);
  box-shadow: -2px 2px 3px #9e9e9ea6;
  margin: 35px;
  background-image: url(../public/images/galPic.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
}

#pic2:hover {
  background-color: rgb(216, 215, 215);
  transition: 0.3s;
  transform: scale(1.05);
  box-shadow: 1px 3px 3px #1f2833;
}

#pic3 {
  grid-area: pic3;
  background-color: rgb(243, 241, 241);
  box-shadow: -2px 2px 3px #9e9e9ea6;
  margin: 35px;
  background-image: url(../public/images/galPic.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
}

#pic3:hover {
  background-color: rgb(216, 215, 215);
  transition: 0.3s;
  transform: scale(1.05);
  box-shadow: 1px 3px 3px #1f2833;
}

#galCat2 {
  /* background-color: rgb(223, 109, 132); */
  grid-area: galCat2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "pic4 pic5 pic6";
}

#pic4 {
  grid-area: pic4;
  background-color: rgb(243, 241, 241);
  box-shadow: -2px 2px 3px #9e9e9ea6;
  margin: 35px;
  background-image: url(../public/images/galPic.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
}

#pic4:hover {
  background-color: rgb(216, 215, 215);
  transition: 0.3s;
  transform: scale(1.05);
  box-shadow: 1px 3px 3px #1f2833;
}

#pic5 {
  grid-area: pic5;
  background-color: rgb(243, 241, 241);
  box-shadow: -2px 2px 3px #9e9e9ea6;
  margin: 35px;
  background-image: url(../public/images/galPic.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
}

#pic5:hover {
  background-color: rgb(216, 215, 215);
  transition: 0.3s;
  transform: scale(1.05);
  box-shadow: 1px 3px 3px #1f2833;
}

#pic6 {
  grid-area: pic6;
  background-color: rgb(243, 241, 241);
  box-shadow: -2px 2px 3px #9e9e9ea6;
  margin: 35px;
  background-image: url(../public/images/galPic.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
}

#pic6:hover {
  background-color: rgb(216, 215, 215);
  transition: 0.3s;
  transform: scale(1.05);
  box-shadow: 1px 3px 3px #1f2833;
}

#showMore {
  /* background-color: rgb(59, 173, 59); */
  grid-area: showMore;
  /* color: rgb(255, 255, 255); */
  display: grid;
  justify-content: center;
  align-items: center;
}

#showMoreBtn {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  background-color: #c5c6c7;
  width: 150px;
  padding: 12px;
  transition: 0.3s;
}

#showMoreBtn:hover {
  border: #66fcf1;
  border-style: solid;
  background-color: #1f2833;
  transition: 0.3s;
  transform: scale(1.1);
  box-shadow: 1px 3px 3px #66fcf270;
  /* text-shadow: 0 0 3px #66fcf263; */
}

/* **************************************************** Footer **************************************************** */

.container5 {
  background-color: #1f2833;
  grid-area: container5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.6fr 0.4fr;
  grid-template-areas:
    "footLeft footRight"
    "footerLogo footerLogo";
}

#footLeft {
  grid-area: footLeft;
  /* background-color: rgb(59, 7, 66); */
  margin: 3px;
  padding: 50px;
  color: #45a29e;
  text-align: center;
  font-size: large;
  display: grid;
  align-content: center;
}

#footRight {
  grid-area: footRight;
  /* background-color: rgb(0, 128, 32); */
  margin: 3px;
  display: grid;
  align-items: center;
}

.footer-details-contact {
  align-items: center;
  color: #45a29e;
  /* background-color: seagreen; */
  display: grid;
}

.footer-details-contact a {
  display: flex;
  color: #45a29e;
}

.fimg {
  height: 40px;
  width: auto;
  padding-top: 0;
  padding-left: 80px;
  padding-right: 20px;
  margin: 5px;
}

.footer-details-contact h2 {
  text-align: center;
}

.flink {
  font-size: 15px;
}

#footRight p {
  text-align: center;
  padding: 15px;
}

#footRight div {
  align-items: center;
}

h4 {
  display: grid;
  align-content: center;
}

#footerLogo {
  grid-area: footerLogo;
  /* background-color: cornflowerblue; */
  background-image: url(../public/images/footerLogo.png);
  background-size: 600px auto;
  background-repeat: no-repeat;
  display: grid;
  background-position: center;
  opacity: 0.7;
}

/* ********************************************************************************** */
/* ************************ Responsiveness ********************************** */

@media screen and (max-width: 1325px) {
  .container3 {
    padding: 0vh 10vh;
  }
}

@media screen and (max-width: 1240px) {
  #logoIcon {
    width: 150px;
    height: auto;
  }
}

@media screen and (max-width: 1000px) {
  body {
    grid-template-rows: 0.85fr 0.85fr 0.85fr 1.5fr 1.5fr 0.55fr;
    padding: 0;
    margin: 0;
    row-gap: 0;
    justify-content: center;
  }

  .container1 {
    background-size: 700px auto;
    grid-template-columns: 2fr 3fr;
  }

  .menuLeft {
    grid-template-rows: 3fr 5fr;
  }

  .logo {
    align-items: flex-end;
  }

  #logoIcon {
    width: 160px;
    height: auto;
  }

  /* ****************** About Us ************** */

  .container2 {
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
  }

  #AbtIcon {
    background-size: 350px auto;
  }

  #ABtCont {
    font-size: 16px;
  }

  /* ****************** Catogsries ***************** */

  .container3 {
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
  }

  #CatTitle {
    align-items: flex-end;
  }

  #cat1Cont {
    font-size: 16px;
  }
  #cat1Icon {
    background-size: 320px auto;
  }

  #cat2Cont {
    font-size: 16px;
  }
  #cat2Icon {
    background-size: 260px auto;
  }

  /* ********** footer ********** */
  .container5 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 0.3fr;
  }

  #footLeft {
    font-size: 13px;
  }

  #footRight {
    font-size: 13px;
  }

  .footer-details-contact {
    font-size: 13px;
    display: grid;
    justify-content: flex-start;
  }

  .flink {
    font-size: 13px;
  }

  .fimg {
    width: 40px;
    height: 40px;
  }

  #footerLogo {
    background-size: 400px auto;
    background-position: top;
    /* background-color: sandybrown; */
  }
}

@media screen and (max-width: 941px) {
  body {
    grid-template-rows: 1fr 0.85fr 0.85fr 1.5fr 1.8fr 0.55fr;
  }

  .container1 {
    background-size: 1fr auto;
    grid-template-columns: 1fr 3.2fr;
    background-size: 750px;
  }

  .menuLeft {
    grid-template-rows: 3fr 5fr;
    grid-template-columns: 0.5fr;
  }

  .logo {
    margin: 3px;
    display: grid;
    align-items: center;
    justify-items: center;
  }

  #logoIcon {
    width: 130px;
    height: auto;
  }

  #menubox {
    font-size: 10px;
  }

  .container3 {
    row-gap: 10px;
  }

  #cat1Cont {
    font-size: 14px;
  }
  #cat1Icon {
    background-size: 200px auto;
  }

  #cat2Cont {
    font-size: 14px;
  }
  #cat2Icon {
    background-size: 180px auto;
  }
}

/* @media screen and (max-width: 320px) {
  body {
    grid-template-rows: 0.15fr 0.4fr 0.2fr 0.4fr 1.8fr 0.15fr;
    grid-template-columns: 1fr;
  }

  .container1 {
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    grid-template-areas: "menuLeft";
    background-image: url(../public/images/resCover.jpg);
    background-size: 320px auto;
    background-position: center;
  }

  .menuLeft {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas: "menuG";
  }
  .menu {
    background-color: thistle;
  }

  .logo {
    visibility: hidden;
  }

  #HomeBtn {
    right: 10px;
  }

  #AbtTitle {
    align-items: center;
  }
  .container2 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 4fr;
    grid-template-areas:
      "AbtTitle"
      "AbtIcon"
      "ABtCont";
  }

  #AbtIcon {
    background-size: 150px auto;
    background-position: center;
  }

  #ABtCont {
    font-size: 13px;
  }

  #covermid {
    background-size: 500px auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
  }

  .container3 {
    grid-area: container3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr 2fr;
    grid-template-areas:
      "CatTitle"
      "cat1Icon"
      "cat1Cont"
      "cat2Icon"
      "cat2Cont";
  }

  #cat1Icon {
    background-size: 100px auto;
  }

  #cat1Cont {
    font-size: 13px;
  }

  #cat2Icon {
    background-size: 100px;
  }

  #cat2Cont {
    font-size: 13px;
  }

  .container5 {
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.3fr 0.3fr;
    grid-template-areas:
      "footLeft"
      "footRight"
      "footerLogo";
  }

  .fimg {
    height: 20px;
    width: auto;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
  }

  .flink {
    font-size: 9px;
  }

  #footLeft {
    padding: 20px;
    font-size: 9px;
  }

  #footRight {
    justify-content: center;
  }

  #footerLogo {
    background-size: 230px auto;
  }

  h2 {
    font-size: 12px;
  }
} */

@media screen and (max-width: 768px) {
  body {
    grid-template-rows: 0.85fr 0.85fr 0.85fr 1.3fr 1.5fr 0.4fr;
    width: 100%;
  }

  .container1 {
    background-size: 1fr auto;
    grid-template-columns: 2fr 3.2fr;
    background-size: 685px auto;
  }

  .menuLeft {
    grid-template-rows: 3fr 5fr;
    grid-template-columns: 0.5fr;
  }

  .logo {
    margin: 3px;
    display: grid;
    align-items: end;
  }
  .container5 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 0.3fr;
  }

  #footLeft {
    font-size: 11px;
    padding: 15px;
  }

  #footRight {
    font-size: 5px;
    padding: 15px;
  }

  .footer-details-contact {
    font-size: 11px;
    display: grid;
    justify-content: flex-start;
  }

  .flink {
    font-size: 11px;
  }

  .fimg {
    width: 35px;
    height: 35px;
    padding: 0;
  }

  #footerLogo {
    background-size: 350px auto;
    background-position: top;
    /* background-color: sandybrown; */
  }

  h1 {
    font-size: 25px;
  }

  .menu h1 {
    font-size: 15px;
  }

  #logoIcon {
    width: 100px;
    height: auto;
  }

  #AbtIcon {
    background-size: 280px auto;
  }

  #ABtCont {
    font-size: 14px;
  }
  #showMoreBtn {
    width: 100px;
    padding: 12px;
    font-size: 15px;
  }
}

@media screen and (max-width: 714px) {
  body {
    grid-template-rows: 0.45fr 0.85fr 0.85fr 1.3fr 1.2fr 0.4fr;
    width: 100%;
  }
}

@media screen and (max-width: 632px) {
  body {
    grid-template-rows: 0.35fr 0.55fr 0.55fr 0.9fr 0.9fr 0.4fr;
    width: 100%;
  }

  .container1 {
    grid-template-columns: 2fr 3.2fr;
    background-size: 550px auto;
  }

  #AbtIcon {
    background-size: 210px auto;
  }
  #ABtCont {
    font-size: 12px;
  }

  #cat1Cont {
    font-size: 12px;
  }

  #cat2Cont {
    font-size: 12px;
  }

  #cat1Icon {
    background-size: 150px auto;
  }

  #cat2Icon {
    background-size: 130px auto;
  }
}

@media screen and (max-width: 600px) {
  body {
    grid-template-rows: 0.25fr 0.55fr 0.55fr 0.9fr 0.9fr 0.4fr;
    width: 100%;
  }

  .container1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "menuLeft";
    background-image: url(../public/images/res2Cover.jpg);
    background-size: cover;
    background-position: center;
  }

  .menuLeft {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "menuG";
    justify-content: center;
    /* background-color: darkturquoise; */
  }

  .menu {
    background-color: #1f2833;
    opacity: 93%;
    transform: translateY(-105%);
    /* display: none; */
    transition: transform 0.5 ease-in;
  }

  .logo {
    /* visibility: hidden; */
    /* background-color: steelblue; */
    display: none;
  }

  #burger {
    /* background-color: darkslategrey; */
    display: block;
    margin-right: 30px;
    margin-top: 10px;
    height: 40px;
    cursor: pointer;
  }

  .nav-active {
    transform: translateY(0%);
  }
}
